<template>
    <div class="container">

        <h1 class="font-weight-light text-center text-lg-center mt-4 mb-0">Imagens oficiais da NASA</h1>
        <div class="input-group">
            <input class="form-control"
                   v-model="query"
                   v-on:keyup.enter="getResult(query)"
                   type="text" placeholder="Digite um termo ..."/>
            <div class="input-group-append">
                <button class="btn btn-info"><span
                        class="fa fa-search"
                        v-on:click="getResult(query)"></span></button>
            </div>
        </div>
        <div v-if="results">
            <h3 class="font-weight-light text-center text-lg-left mt-4 mb-0">Resultado da busca...</h3>
            <hr class="mt-2 mb-5">
            <div class="row text-center text-lg-left">
                <div class="col-lg-3 col-md-4 col-6"
                     v-for="result in results.items"
                     v-bind:key="result.id">
                    <a v-bind:href="result.links[0].href" class="d-block mb-4 h-100" target="_blank">
                        <img class="img-fluid img-thumbnail"
                             v-bind:src="result.links[0].href" alt="">
                    </a>
                </div>
                <!--<a href="#" v-if="results.links[0].rel === 'next'" v-on:click="getResult(query, results.links[0].rel === 'next')"> Mais resultados</a>-->
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios/dist/axios";

    export default {
        name: "Search",
        data() {
            return {
                query: '',
                results: ''
            }
        },
        methods: {
            getResult(query, isNext) {
                this.results = '';
                const next = isNext ? '&page=2' : '';
                const url = `https://images-api.nasa.gov/search?q=${query}&media_type=image${next}`;
                axios.get(url)
                    .then(response => {
                        this.results = response.data.collection;
                    });
            }
        }
    }
</script>

<style scoped>

</style>